<mat-toolbar color="primary">
  <span>MazMon!</span>
</mat-toolbar>

<router-outlet></router-outlet>

<mat-toolbar class="bottom-nav">
  <a mat-button routerLink="/" routerLinkActive="active">
    <mat-icon>home</mat-icon>
    <span>ホーム</span>
  </a>
  <a mat-button routerLink="/trails" routerLinkActive="active">
    <mat-icon>route</mat-icon>
    <span>軌跡</span>
  </a>
  <a mat-button routerLink="/parts" routerLinkActive="active">
    <mat-icon>build</mat-icon>
    <span>カスタム</span>
  </a>
</mat-toolbar>
